%h1 Cars
%ul.list-group{"ng-init" => "setCars(#{@cars.to_json.html_safe})"}
  %li.list-group-item{"ng-repeat" => "car in cars"}
    .row
      .col-md-2
        %img.img-thumbnail{src: "http://placehold.it/100/100"}
      .col-md-9
        .col-md-1
          %b Name:
        .col-md-2 {{ car.display_name }}
        %br
        .col-md-1
          %b Year:
        .col-md-2 {{ car.year }}
        %br
        .col-md-1
          %b Make:
        .col-md-2 {{ car.make }}
        %br
        .col-md-1
          %b Model:
        .col-md-2 {{ car.display_model }}, {{ car.submodel }}
        %br
      .col-md-1
        %i.glyphicon.glyphicon-plus{style: "height: 50px; margin-top: 50px;", "ng-click" => "loadTrips(car)"}
      .col-md-4
      .col-md-8{"ng-if" => "car.trips"}
        %table.table
          %thead
            %tr
              %th Start
              %th End
              %th 
                Distance
                %a{"ng-click" => "whatDistanceUnit()"} ({{ distanceUnit }})
              %th
          %tbody
            %tr{"ng-repeat" => "trip in car.trips"}
              %td {{ trip.started_at | date:'medium' }}
              %td {{ trip.ended_at | date:'medium' }}
              %td {{ tripLength(trip.distance_m) | number : 2 }}{{ distanceUnit }}
              %td
                %span{"ng-if" => "trip.path"}
                  %button.btn.btn-default{"ng-click" => "viewMap(trip)"} View Map
                  %mapbox{"map-id" => "{{ mapBoxAccessToken }}", lat: "{{ trip.start_location.lat }}", lng: "{{ trip.start_location.lon }}", zoom: 10, "ng-if" => "trip", width: 200, height: 200}
                    %feature-layer{data: "{{ trip.geoLine }}"}
                    %marker{lat: "{{ trip.start_location.lat }}", lng: "{{ trip.start_location.lon }}", color: "#39cccc", icon: "car"}
                      {{ trip.start_location.tag | humanize }}
                    %marker{lat: "{{ trip.end_location.lat }}", lng: "{{ trip.end_location.lon }}", color: "#BBBBBB", icon: "cross"}
                      {{ trip.end_location.tag | humanize }}
                %span{"ng-if" => "!trip.path"} No Path Recorded
                
.panel.panel-default{"ng-if" => "fetchedCars"}
  .panel-heading
    %h3 Add A Car!
  .panel-body
    .btn-group.btn-group-justified
      .btn-group{"ng-repeat" => "possibleCar in fetchedCars"}
        .btn.btn-default{"ng-click" => "setCar(possibleCar)", "ng-class" => "isSelected(possibleCar) ? 'active' : ''"} {{ possibleCar.display_name }}
    %form{"ng-submit" => "save(car)", name: "form"}
      %div{"ng-if" => "!saving"}
      %button.btn.btn-default save
    %pre {{ car | json }}