%h1 Cars
%ul.list-group{"ng-init" => "init(#{@cars.to_json.html_safe})"}
  %li.list-group-item{"ng-repeat" => "car in cars"}
    .row
      .col-md-2
        %img.img-thumbnail{src: "http://placehold.it/100/100"}
      .col-md-7
        %table.table
          %tbody
            %tr
              %td 
                %b Name:
                {{ car.display_name }}
              %td
                %b Year:
                {{ car.year }}
              %td
                %b Make:
                {{ car.make }}
              %td
                %b Model:
                {{ car.display_model }}, {{ car.submodel }}
            %tr
              %td
                %b Last Change:
                %span{"ng-if" => "car.last_oil_change"}
                  {{ car.last_oil_change.changed_at | date:'medium' }}
                %span{"ng-if" => "!car.last_oil_change"}
                  N/A
              %td
                %b 
                  %span{"ng-click" => "whatDistanceUnit()"}
                    %span{"ng-if" => "distanceUnit == 'm'"}
                      Meters
                    %span{"ng-if" => "distanceUnit == 'mi'"}
                      Miles 
                  since:
                {{ tripLength(car.distance_since_last_change) | number: 2 }}
      .col-md-3
        %button.btn.btn-default{"ng-click" => "oilChange(car)"}
          New Oil Change
          %i.glyphicon.glyphicon-cog
                
.panel.panel-default{"ng-if" => "fetchedCars"}
  .panel-heading
    %h3 Add A Car!
  .panel-body
    .btn-group.btn-group-justified
      .btn-group{"ng-repeat" => "possibleCar in fetchedCars"}
        .btn.btn-default{"ng-click" => "setCar(possibleCar)", "ng-class" => "isSelected(possibleCar) ? 'active' : ''"} {{ possibleCar.display_name }}
    %form{"ng-submit" => "save(car)", name: "form"}
      %div{"ng-if" => "!saving"}
      %button.btn.btn-default save
    %pre {{ car | json }}